In [1]:
import numpy as np 
import pandas as pd 
from pandas import DataFrame
import os
for dirname, _, filenames in os.walk('/Users/tianyisun/Desktop/NLQbatches/batch123'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/tianyisun/Desktop/NLQbatches/batch123/revise2_ning_tian.csv
/Users/tianyisun/Desktop/NLQbatches/batch123/revise1_ning_tian.csv
/Users/tianyisun/Desktop/NLQbatches/batch123/revise3_ning_tian.csv

In [109]:
feedback1 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch123/revise1_ning_tian.csv')
#feedback1 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4(2).csv')
len(feedback1.sql.unique())

44

feedback4 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4(2).csv')
feedback4tianyi = feedback4[feedback4.username == 'tianyi']
feedback4zhengning = feedback4[feedback4.username == 'zhengning']
batch4 = pd.merge(feedback4tianyi, feedback4zhengning, on = 'sql_id', how = 'outer')
batch4 = batch4[['sql_id', 'username_x', 'record_id_x', 'error_classification_x',
                'username_y', 'record_id_y','error_classification_y']]
#batch4.to_csv('/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4.csv', index=False)

---
---

In [ ]:
feedback56 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch5/updated_feedback_batch56.csv')
feedback5id = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_proc1.csv')
feedback5zhengning = feedback56.loc[feedback56['record_id'].isin(feedback5id['record_id_x'])]
feedback5tianyi= feedback56.loc[feedback56['record_id'].isin(feedback5id['record_id_y'])]
batch5 = pd.merge(feedback5tianyi, feedback5zhengning, on = 'sql_id', how = 'outer')
batch5 = batch5[feedback5id.columns[1:]]
#batch5.to_csv('/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5.csv', index=False)

---
---

In [62]:
#feedback = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch6/updated_annotation_feedback_batch6.csv')
feedback6 = feedback56.loc[~feedback56['record_id'].isin(feedback5id['record_id_x'].append(feedback5id['record_id_y']))]
zhengningfeedback = feedback6[feedback6.username == 'zhengning'] 
tianyifeedback = feedback6[feedback6.username == 'tianyi']
zhengningfeedback = feedback[feedback.username == 'zhengning'] 
tianyifeedback = feedback[feedback.username == 'tianyi']
batch6 = pd.merge(tianyifeedback, zhengningfeedback, on = 'sql_id', how = 'outer')
batch6 = batch6[feedback5id.columns[1:]]
batch6.to_csv('/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6.csv', index=False)

---
---
---

In [48]:
'''
iterratively run the code below to delate rows have repeated annotations
'''
### iter 1 
#tianyifeedback[tianyifeedback.sql_id.duplicated() == True] # check for remaining duplicates 
#tianyifeedback[tianyifeedback.sql_id == 335] # check for specific duplicate indexes 
#tianyifeedback = tianyifeedback.drop(labels=144, axis=0) # drop the one annotated earlier

Empty DataFrame
Columns: [sql_id, username, record_id, error_classification]
Index: []

In [12]:
#feedback1[feedback1.sql.duplicated() == True]

Empty DataFrame
Columns: [Unnamed: 0, sql_id, coder_tianyi, code_tianyi, coder, code_ning, sql, GT_sql]
Index: []

In [186]:
#zhengningfeedback[zhengningfeedback.sql_id == 1211] # check for specific duplicate indexes

,Unnamed: 0,record_id,session_id,username,sql_id,sql,nl_query,incorrect_parts,open_ended_feedback,error_classification,duration,cur_id,batch_id,GT_sql
240,240,8db530ed-ba59-468a-8311-7e3e2e4ab797,708f683f-b848-43b9-9d1d-d0c98134ab5c,zhengning,1211,"SELECT Premises.premises_type, Premises.premis...",Find the types and details for all premises an...,NaN,NaN,CM6,4.932,239,5,"SELECT premises_type , premise_details FROM p..."

In [185]:
#zhengningfeedback = zhengningfeedback.drop(labels=239, axis=0) # drop the one annotated earlier

In [91]:
### iter 2 
#zhengningfeedback[zhengningfeedback.sql_id.duplicated() == True] # check for remaining duplicates 
#zhengningfeedback[zhengningfeedback.sql_id == 1051] # check for specific duplicate indexes 
#zhengningfeedback = zhengningfeedback.drop(labels=852, axis=0) # drop the one annotated earlier

Empty DataFrame
Columns: [sql_id, username, record_id, error_classification]
Index: []

In [104]:
#fb = pd.merge(tianyifeedback, zhengningfeedback, on ='sql_id', how = 'outer')
#fb = fb.dropna()
#fb.to_csv('batch7.csv', index = True)

---
---
batch5

In [9]:
#tianyifeedback = tianyifeedback.drop(labels=592, axis=0)
#tianyifeedback[tianyifeedback.sql_id.duplicated() == True]

In [10]:
#zhengningfeedback[zhengningfeedback.sql_id == 650]
#zhengningfeedback = zhengningfeedback.drop(labels=0, axis=0)
#zhengningfeedback = zhengningfeedback.drop(labels=274, axis=0)
#zhengningfeedback[zhengningfeedback.sql_id.duplicated() == True]
#df2 = pd.merge(zhengningfeedback,tianyifeedback,on = 'sql_id',how = 'inner')
#df2.to_csv('batch5_proc1.csv', index =True)

In [11]:
'''iterratively run the code below to delate rows have annotated repetedly by each person'''
#tianyifeedback[tianyifeedback.sql_id.duplicated() == True] # change to 'zhengningfeedback'

#zhengningfeedback[zhengningfeedback.sql_id == 2190] # change 2190 according to above 

#tianyifeedback[tianyifeedback.sql_id == 2190] # change 2190 according to row 1  

#zhengningfeedback = zhengningfeedback.drop(labels=493, axis=0) # change 493 according to row 1

'iterratively run the code below to delate rows have annotated repetedly by each person'

---
---
---

In [13]:
#proc1 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch5/batch56.csv')
#tianyisun = proc1[['sql_id','username_x','record_id_x','error_classification_x']]
#zhengning = proc1[['sql_id','username_y','record_id_y','error_classification_y']]
#batch5id = fb.sql_id
#batch5 = proc1.loc[proc1.sql_id.isin(batch5id)] 
#batch6 = proc1.loc[~proc1.sql_id.isin(batch5id)]

---
--- 
batch7

In [136]:
for dirname, _, filenames in os.walk('/Users/tianyisun/Desktop/NLQbatches'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/Users/tianyisun/Desktop/NLQbatches/error type frequencies in the evaluation set.png
/Users/tianyisun/Desktop/NLQbatches/model3 (batch6-7) GAZP 70.png
/Users/tianyisun/Desktop/NLQbatches/CHI2022_NLQ.pdf
/Users/tianyisun/Desktop/NLQbatches/NL2SQL error type visualization.png
/Users/tianyisun/Desktop/NLQbatches/category_sql_Fleiss_kappa_each.png
/Users/tianyisun/Desktop/NLQbatches/fleiss_kappa.ipynb
/Users/tianyisun/Desktop/NLQbatches/model1 (batch1-5) SmBoP + GraPP 70.png
/Users/tianyisun/Desktop/NLQbatches/overall4567.csv
/Users/tianyisun/Desktop/NLQbatches/model comparison.png
/Users/tianyisun/Desktop/NLQbatches/stability.ipynb
/Users/tianyisun/Desktop/NLQbatches/agreements_analysis.ipynb
/Users/tianyisun/Desktop/NLQbatches/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/BRIDGE v2 + BERT(Ensemble).png
/Users/tianyisun/Desktop/NLQbatches/heatmap of error types in BRIDGEv2 + BERT(ensemble) (batch5).png
/Users/tianyisun/Desktop/NLQbatches/SmBoP + GraPP visualization.png
/Users/tianyisun/Desktop/NLQbatches/error type frequencies in the set of false SOL queries.png
/Users/tianyisun/Desktop/NLQbatches/annotation reparing.ipynb
/Users/tianyisun/Desktop/NLQbatches/Kami Export - Interaction Illustration Taxonomy_ Classification of Styles and Techniques for Visually Representing Interaction Scenarios.pdf
/Users/tianyisun/Desktop/NLQbatches/error type GAZP.png
/Users/tianyisun/Desktop/NLQbatches/model3(batch6-7)GAZP 70.png
/Users/tianyisun/Desktop/NLQbatches/model2 (batch5)(BRIDGE v2 + BERT(Ensemble) 70.png
/Users/tianyisun/Desktop/NLQbatches/category_stability_each.png
/Users/tianyisun/Desktop/NLQbatches/category_stability_6_1.png
/Users/tianyisun/Desktop/NLQbatches/revise .ipynb
/Users/tianyisun/Desktop/NLQbatches/error type BRIDGE v2 + BERT(Ensemble).png
/Users/tianyisun/Desktop/NLQbatches/SmBoP + GraPPa.png
/Users/tianyisun/Desktop/NLQbatches/BRIDGEv2 + BERT(ensemble) visualization.png
/Users/tianyisun/Desktop/NLQbatches/TabularSemantiParser error type visualization.png
/Users/tianyisun/Desktop/NLQbatches/.type_stability_6_1.png.icloud
/Users/tianyisun/Desktop/NLQbatches/prob of error types in model2 -- TSP (batch5).png
/Users/tianyisun/Desktop/NLQbatches/category_sql_Krippendroffis_alpha_each.png
/Users/tianyisun/Desktop/NLQbatches/agreements_analysis-Copy1.ipynb
/Users/tianyisun/Desktop/NLQbatches/krippendroffis_alpha.ipynb
/Users/tianyisun/Desktop/NLQbatches/analysis helper.ipynb
/Users/tianyisun/Desktop/NLQbatches/ave_stability.ipynb
/Users/tianyisun/Desktop/NLQbatches/error type SmBoP + GraPPa.png
/Users/tianyisun/Desktop/NLQbatches/category_sql_agreement_each.png
/Users/tianyisun/Desktop/NLQbatches/heatmap of error types in SmBoP + GraPP(batch1-4).png
/Users/tianyisun/Desktop/NLQbatches/merge batch and feedback.ipynb
/Users/tianyisun/Desktop/NLQbatches/venn.png
/Users/tianyisun/Desktop/NLQbatches/code.xlsx
/Users/tianyisun/Desktop/NLQbatches/feedback_to_task.ipynb
/Users/tianyisun/Desktop/NLQbatches/overall.ipynb
/Users/tianyisun/Desktop/NLQbatches/.type_stability_each.png.icloud
/Users/tianyisun/Desktop/NLQbatches/model1(batch1-4)SmBoP + GraPP 70.png
/Users/tianyisun/Desktop/NLQbatches/GAZP.png
/Users/tianyisun/Desktop/NLQbatches/category agreements.png
/Users/tianyisun/Desktop/NLQbatches/model2(batch5)BRIDGE v2 + BERT(Ensemble) 70.png
/Users/tianyisun/Desktop/NLQbatches/prob of error types in model1 -- smbop (batch1-4).png
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_3_.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_nz.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_anntask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_sql-category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_sql-category_agreement.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_type_ann.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6final(2).csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_agreements.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6(3).csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_category_results.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_ty.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6_anntask_sql_type.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6final.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/batch6_category_ann.csv
/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6finalnz.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_annotationtask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id-code_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_tianyi.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description-code.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch1/46iter1_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/First-round error type annotation.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/anntask.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/ann3_description.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/descri-code_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/mapping.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_zheng_v2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description-code_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/first round error type annotations.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_score.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description_code.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id-code_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_ningzheng_v2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/result.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotationsdescription.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/description_matrx.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id_code_matrix.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/desrc_score.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/record_id_code.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/result2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/annotation_feedback_coded_tianyi_v2.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/batch1_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch1/First-round error type annotation - Sheet1_Toby.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_sql-category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/annotation_feedback_batch7.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch7/qporepair.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_annotationtask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/nz_cprepair2.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_annotationtask_sql_type.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/cprepair2.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/cprepair_nz.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_anntask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/tianyi_cpreqair.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_sql-category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_anntask_sql_type.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7.numbers
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch5_anntask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correctbatch7pre.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/batch7_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correctbatch7.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/correct_batch7_zhengn.csv
/Users/tianyisun/Desktop/NLQbatches/batch7/.ipynb_checkpoints/merge batch and feedback-checkpoint.ipynb
/Users/tianyisun/Desktop/NLQbatches/venn/tsp-output.csv
/Users/tianyisun/Desktop/NLQbatches/venn/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/venn/gazp-output.json
/Users/tianyisun/Desktop/NLQbatches/venn/smbop-output.json
/Users/tianyisun/Desktop/NLQbatches/venn/smbop-output.csv
/Users/tianyisun/Desktop/NLQbatches/venn/tsp-output.json
/Users/tianyisun/Desktop/NLQbatches/venn/gazp-output.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_category-sql_agreement.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_annotationtask.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/error_type_agreement.numbers
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_sql-type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_category_ann.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch2/error_type_agreement.pdf
/Users/tianyisun/Desktop/NLQbatches/batch2/batch2_sql-type_agreement.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5(2).csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_anntask_sql_type.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_proc1.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5(3).csv
/Users/tianyisun/Desktop/NLQbatches/batch5/annotation_feedback_batch5.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_category_results.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_nz.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_annotationtask_sql_type.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5(2) 2 copy.numbers
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_sql-category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5(2) copy.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_agreements.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_annotationtask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_anntask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/batch5_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch5/updated_feedback_batch56.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_nz.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch4/annotation_feedback_batch4.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_anntask_sql_type.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_sql_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/annotation_feedback_batch4 2.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_sql-category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_annotationtask_sql_errortype.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_category-sql_agreement.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_sql-type_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_anntask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4(2).csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_category_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_sql-type_Krippendroffis_alpha.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_sql-category:type_agreement.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_sql-type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_sql-category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/batch4_annotationtask_sql_errorcategory.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_sql-category_Fleiss_kappa.csv
/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4_category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/annotation_feedback_batch3.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/batch3/batch3_category-sql_result.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/batch3_category_ann.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/batch3_sql-type_agreement.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/batch3_type_ann.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/batch3_sql-category_agreement.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/batch3_sql-type_stability.csv
/Users/tianyisun/Desktop/NLQbatches/batch3/batch3_sql-category_stability.csv
/Users/tianyisun/Desktop/NLQbatches/NLQ/CHI2022_NLQ.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/tranx.0.2.1.zip
/Users/tianyisun/Desktop/NLQbatches/NLQ/Debugging Reinvented- Asking and Answering Why and Why Not Questions about Program Behavior.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/spider.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/.recruitment flyer6.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/10. LEXICAL SEMANTICS.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/Mapping Natural Language Instructions to Mobile UI Action Sequences.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/9. Building a Corpus of Errors and Quality in Machine Translation- Experiments on Error Impact.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/.DS_Store
/Users/tianyisun/Desktop/NLQbatches/NLQ/QueryVis.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/.recruitment flyer3.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/.2. Identifying the Machine Translation Error Types with the Greatest Impact on Post-editing Effort.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/4. A Framework for Interactive and Automatic Refinement of Transfer-based Machine Translation .pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/.recruitment flyer4.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/.BRIDGE.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/[Tianyi]annotation_feedback_toby.numbers
/Users/tianyisun/Desktop/NLQbatches/NLQ/WikiSQL.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/annotation_feedback_coded_zheng_v2.csv
/Users/tianyisun/Desktop/NLQbatches/NLQ/Automatically_Repairing_SQL_Faults.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/5. On the practice of error analysis for machine translation evaluation.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/tranX.zip
/Users/tianyisun/Desktop/NLQbatches/NLQ/HybridQA.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/[Spider BRIDGE v2 + BERT(ensemble)] Bridging Textual and Tabular Data for Cross-Domain Text-to-SQL Semantic Parsing.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/1. 💡Error Analysis of Statistical Machine Translation Output.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/annotation_feedback_coded_toby.csv
/Users/tianyisun/Desktop/NLQbatches/NLQ/TABFACT.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/14. Grammatical error correction using neural machine translation.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/.printresult.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/.3. Cognitive Evaluation Approach for a Controlled Language Post­Editing Experiment.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/7. Linguistic-based Evaluation Criteria to identify Statistical Machine Translation Errors.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/.DIY.pdf.icloud
/Users/tianyisun/Desktop/NLQbatches/NLQ/[Tianyi]annotation_feedback.csv
/Users/tianyisun/Desktop/NLQbatches/NLQ/Improving Text-to-SQL Evaluation Methodology.pdf
/Users/tianyisun/Desktop/NLQbatches/NLQ/BRIDGE.zip
/Users/tianyisun/Desktop/NLQbatches/NLQ/Miniconda3-latest-MacOSX-x86.textClipping

In [146]:
#fbnz = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6finalnz.csv')
fb = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch7/correctbatch7.csv')
#fb.zhengn_code = fbnz.zhengn_code
fb['tianyi'] = 'tianyi'
fb['zhengn'] = 'zhengn'
fb['record_id_x'] = 'record_id_x'
fb['record_id_y'] = 'record_id_y'
# split the df
tianyisun = fb[['sql_id','tianyi','record_id_x','tianyi_code']]
zhengning = fb[['sql_id','zhengn','record_id_y','zhengn_code']]

# rename the columns
tianyisun = tianyisun.rename(columns={"tianyi":"username"})
tianyisun = tianyisun.rename(columns={"record_id_x":"record_id"})
tianyisun = tianyisun.rename(columns={"tianyi_code":"error_classification"})
zhengning = zhengning.rename(columns={"zhengn":"username"})
zhengning = zhengning.rename(columns={"record_id_y":"record_id"})
zhengning = zhengning.rename(columns={"zhengn_code":"error_classification"})

In [147]:
tianyisun

     sql_id username    record_id error_classification
0         1   tianyi  record_id_x                  BF4
1         2   tianyi  record_id_x                   F1
2         4   tianyi  record_id_x                  A1b
3         6   tianyi  record_id_x        CL1, BL1, A1b
4        11   tianyi  record_id_x                  BN1
..      ...      ...          ...                  ...
393    1059   tianyi  record_id_x              F4, D1c
394    1060   tianyi  record_id_x                  D1a
395    1061   tianyi  record_id_x              D1a, D1
396    1062   tianyi  record_id_x             D1a, BF4
397    1063   tianyi  record_id_x                  BF4

[398 rows x 4 columns]

In [100]:
# aggregate the columns 
feedback7 = tianyisun.append(zhengning, ignore_index=True, sort=False)
print(len(feedback7))
len(feedback7.sql_id.unique())

796

398

In [101]:
feedback72 = pd.merge(tianyisun, zhengning, on = 'sql_id', how = 'outer')
print(len(feedback72))
len(feedback72.sql_id.unique())

398

398

---

In [102]:
#fbnz = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6finalnz.csv')
fb = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6final(2).csv')
#fb.zhengn_code = fbnz.zhengn_code
fb['tianyi'] = 'tianyi'
fb['zhengn'] = 'zhengn'
fb['record_id_x'] = 'record_id_x'
fb['record_id_y'] = 'record_id_y'
# split the df
tianyisun = fb[['sql_id','tianyi','record_id_x','tianyi_code']]
zhengning = fb[['sql_id','zhengn','record_id_y','zhengn_code']]

# rename the columns
tianyisun = tianyisun.rename(columns={"tianyi":"username"})
tianyisun = tianyisun.rename(columns={"record_id_x":"record_id"})
tianyisun = tianyisun.rename(columns={"tianyi_code":"error_classification"})
zhengning = zhengning.rename(columns={"zhengn":"username"})
zhengning = zhengning.rename(columns={"record_id_y":"record_id"})
zhengning = zhengning.rename(columns={"zhengn_code":"error_classification"})

In [103]:
# aggregate the columns 
feedback6 = tianyisun.append(zhengning, ignore_index=True, sort=False)
print(len(feedback6))
len(feedback6.sql_id.unique())

1426

713

In [104]:
feedback62 = pd.merge(tianyisun, zhengning, on = 'sql_id', how = 'outer')
print(len(feedback62))
len(feedback62.sql_id.unique())

713

713

In [105]:
print(len(feedback62))

713

---

In [106]:
#fbnz = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6finalnz.csv')
fb = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch5/correct_batch5(3).csv')
#fb.zhengn_code = fbnz.zhengn_code
fb['tianyi'] = 'tianyi'
fb['zhengn'] = 'zhengn'
fb['record_id_x'] = 'record_id_x'
fb['record_id_y'] = 'record_id_y'
# split the df
tianyisun = fb[['sql_id','tianyi','record_id_x','tianyi_code']]
zhengning = fb[['sql_id','zhengn','record_id_y','zhengn_code']]

# rename the columns
tianyisun = tianyisun.rename(columns={"tianyi":"username"})
tianyisun = tianyisun.rename(columns={"record_id_x":"record_id"})
tianyisun = tianyisun.rename(columns={"tianyi_code":"error_classification"})
zhengning = zhengning.rename(columns={"zhengn":"username"})
zhengning = zhengning.rename(columns={"record_id_y":"record_id"})
zhengning = zhengning.rename(columns={"zhengn_code":"error_classification"})

In [107]:
# aggregate the columns 
feedback5 = tianyisun.append(zhengning, ignore_index=True, sort=False)
print(len(feedback5))
len(feedback5.sql_id.unique())

276

138

In [108]:
feedback52 = pd.merge(tianyisun, zhengning, on = 'sql_id', how = 'outer')
print(len(feedback52))
len(feedback52.sql_id.unique())

138

138

In [109]:
print(len(feedback52))

138

---

In [110]:
#fbnz = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch6/correct_batch6finalnz.csv')
fb = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch4/correct_batch4(2).csv')
#fb.zhengn_code = fbnz.zhengn_code
fb['tianyi'] = 'tianyi'
fb['zhengn'] = 'zhengn'
fb['record_id_x'] = 'record_id_x'
fb['record_id_y'] = 'record_id_y'
# split the df
tianyisun = fb[['sql_id','tianyi','record_id_x','tianyi_code']]
zhengning = fb[['sql_id','zhengn','record_id_y','zhengn_code']]

# rename the columns
tianyisun = tianyisun.rename(columns={"tianyi":"username"})
tianyisun = tianyisun.rename(columns={"record_id_x":"record_id"})
tianyisun = tianyisun.rename(columns={"tianyi_code":"error_classification"})
zhengning = zhengning.rename(columns={"zhengn":"username"})
zhengning = zhengning.rename(columns={"record_id_y":"record_id"})
zhengning = zhengning.rename(columns={"zhengn_code":"error_classification"})

In [111]:
# aggregate the columns 
feedback4 = tianyisun.append(zhengning, ignore_index=True, sort=False)
print(len(feedback4))
len(feedback4.sql_id.unique())

258

129

In [112]:
feedback42 = pd.merge(tianyisun, zhengning, on = 'sql_id', how = 'outer')
print(len(feedback42))
len(feedback42.sql_id.unique())

129

129

In [113]:
len(feedback42.sql_id.unique())

129

In [125]:
feedback42

,sql_id,username_x,record_id_x,error_classification_x,username_y,record_id_y,error_classification_y
0,1024,tianyi,record_id_x,"F1, F2",zhengn,record_id_y,F2
1,1025,tianyi,record_id_x,"D1a, A1a, KA1b",zhengn,record_id_y,"A1a, KA1b"
2,1026,tianyi,record_id_x,CL1,zhengn,record_id_y,CL1
3,689,tianyi,record_id_x,BN1,zhengn,record_id_y,"CL1, BN1"
4,1027,tianyi,record_id_x,AN2,zhengn,record_id_y,"CL1, AN2"
...,...,...,...,...,...,...,...
124,1098,tianyi,record_id_x,"D1a, K2",zhengn,record_id_y,"K2, D1a"
125,1099,tianyi,record_id_x,"CE2, D1b",zhengn,record_id_y,"D1c, CE2"
126,1100,tianyi,record_id_x,"BL1, BE5",zhengn,record_id_y,"BL1, BE5"
127,1101,tianyi,record_id_x,"BF4, CF5",zhengn,record_id_y,CF5
128,1102,tianyi,record_id_x,NaN,zhengn,record_id_y,NaN

---

In [114]:
b4567unique = np.array((feedback72.sql_id.append(feedback62.sql_id).append(feedback52.sql_id).append(feedback42.sql_id)).unique())
def value_to_index(batch_category):
    for i in range(0,len(batch_category)):
        a = batch_category.loc[i,'sql_id']
        batch_category.loc[i,'sql_id'] = np.where(b4567unique == a)[0][0]

In [124]:
len(b4567unique)

1103

In [115]:
value_to_index(feedback72)
value_to_index(feedback62)
value_to_index(feedback52)
value_to_index(feedback42)

In [117]:
df1 = pd.merge(feedback42,feedback52,how="outer",on = 'sql_id')
df2 = pd.merge(df1,feedback62,how="outer",on = 'sql_id')
df3 = pd.merge(df2,feedback72,how="outer",on = 'sql_id')

/var/folders/gh/3pd23sd51hn2p7774mv2zt4r0000gn/T/ipykernel_3056/2170898107.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'username_y_x', 'error_classification_x_x', 'error_classification_y_x', 'username_x_x', 'record_id_y_x', 'record_id_x_x'} in the result is deprecated and will raise a MergeError in a future version.
  df3 = pd.merge(df2,feedback72,how="outer",on = 'sql_id')

In [132]:
frames = [feedback42, feedback52, feedback62]
overall4567 = pd.concat(frames).drop_duplicates(subset =['sql_id'])

In [133]:
len(overall4567.sql_id.unique())

933

In [134]:
overall4567 = pd.concat([overall4567,feedback72]) 
overall4567

,sql_id,username_x,record_id_x,error_classification_x,username_y,record_id_y,error_classification_y
0,1024,tianyi,record_id_x,"F1, F2",zhengn,record_id_y,F2
1,1025,tianyi,record_id_x,"D1a, A1a, KA1b",zhengn,record_id_y,"A1a, KA1b"
2,1026,tianyi,record_id_x,CL1,zhengn,record_id_y,CL1
3,689,tianyi,record_id_x,BN1,zhengn,record_id_y,"CL1, BN1"
4,1027,tianyi,record_id_x,AN2,zhengn,record_id_y,"CL1, AN2"
...,...,...,...,...,...,...,...
393,393,tianyi,record_id_x,"F4, D1c",zhengn,record_id_y,F4
394,394,tianyi,record_id_x,D1a,zhengn,record_id_y,D1a
395,395,tianyi,record_id_x,"D1a, D1",zhengn,record_id_y,D1a
396,396,tianyi,record_id_x,"D1a, BF4",zhengn,record_id_y,"D1a, BF4"
397,397,tianyi,record_id_x,BF4,zhengn,record_id_y,BF4

In [135]:
#overall4567.to_csv('overall4567.csv')

---

In [129]:
df2 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch123/revise1_ning_tian.csv')

In [131]:
df2

,Unnamed: 0,sql_id,coder_tianyi,code_tianyi,coder,code_ning,sql,GT_sql
0,4,2149,Tianyi,A1a,zhengning,A1a,SELECT projects.project_details FROM projects ...,SELECT project_details FROM Projects WHERE pro...
1,31,532,Tianyi,BL1; CL1,zhengning,"BL2, CL1, L4","SELECT COUNT( * ) , plays_games.stuid FROM pla...",SELECT sum(gamesplayed) FROM Sportsinfo
2,36,2094,Tianyi,KA1b,zhengning,KA1b,SELECT film_market_estimation.year FROM film_m...,SELECT T1.Year FROM film_market_estimation AS ...
3,56,1125,Tianyi,BL2; BL3,zhengning,BL2,"SELECT player.name_first , player.name_first F...","SELECT name_first , name_last FROM player AS T..."
4,72,2294,Tianyi,CL1; D1,zhengning,"CL1, D1a",SELECT sportsinfo.stuid FROM sportsinfo WHERE ...,SELECT StuID FROM Student WHERE sex = 'F' INTE...
5,84,1274,Tianyi,D1b,zhengning,D1b,SELECT COUNT( * ) FROM person WHERE person.age...,SELECT count(*) FROM Person WHERE age > 30 AND...
6,104,251,Tianyi,BL1,zhengning,"BN1, BL1",SELECT park.city FROM park GROUP BY park.city ...,SELECT state FROM park GROUP BY state HAVING c...
7,116,1978,Tianyi,D1a,zhengning,D1a,SELECT competition.country FROM competition WH...,SELECT country FROM competition WHERE competit...
8,132,2018,Tianyi,D1a,zhengning,D1a,SELECT song.song_name FROM song WHERE song.rat...,SELECT song_name FROM song WHERE rating < (SEL...
9,176,1331,Tianyi,D1a; D1b,zhengning,"K4, D1a, D1b",SELECT faculty.fname FROM faculty WHERE facult...,"SELECT Fname FROM FACULTY WHERE Rank = ""Profes..."
10,183,1139,Tianyi,BF4,zhengning,BF4,SELECT COUNT( * ) FROM postseason JOIN team ON...,SELECT count(*) FROM postseason AS T1 JOIN tea...
11,199,2179,Tianyi,"N3, O2",zhengning,"N3, O2",SELECT department.dname FROM minor_in JOIN dep...,SELECT DName FROM DEPARTMENT EXCEPT SELECT T1....
12,215,2153,Tianyi,A1a,zhengning,A1a,SELECT projects.project_details FROM projects ...,SELECT project_details FROM Projects WHERE pro...
13,235,2168,Tianyi,N3; BL2,zhengning,"BL2, N3, F4","SELECT COUNT( * ) , person.job FROM person WHE...",SELECT count(*) FROM Person WHERE age > (SELEC...
14,247,2000,Tianyi,"BL3, P1",zhengning,"BL3, CE2, N3, K4, P1",SELECT artist.artist_name FROM artist GROUP BY...,"SELECT T1.artist_name , T1.gender FROM artist ..."
15,263,1961,Tianyi,CE3,zhengning,CE2,SELECT bank.bname FROM customer JOIN bank ON c...,SELECT T2.bname FROM loan AS T1 JOIN bank AS T...
16,279,1578,Tianyi,CE3,zhengning,CE3,SELECT documents.document_id FROM documents JO...,SELECT T1.document_id FROM Documents_with_expe...
17,295,1585,Tianyi,BL3,zhengning,BL3,"SELECT station.location , SUM( station.total_p...","SELECT LOCATION , sum(number_of_platforms) , s..."
18,311,1671,Tianyi,KA1b,zhengning,KA1b,SELECT airports.city FROM airports GROUP BY ai...,SELECT city FROM airports GROUP BY city HAVING...
19,327,1704,Tianyi,F1,zhengning,F1,SELECT DISTINCT invoices.invoice_details FROM ...,SELECT DISTINCT invoice_details FROM invoices ...
20,343,2373,Tianyi,CL1,zhengning,CL1,SELECT model_list.model FROM cars_data JOIN ca...,SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS...
21,359,798,Tianyi,BL1,zhengning,BL1,"SELECT MAX( player.weight ) , MIN( player.heig...","SELECT max(weight) , min(weight) FROM Player"
22,375,1131,Tianyi,BL2; BF4,zhengning,"BL2, BF4","SELECT player.name_first , player.name_first F...","SELECT name_first , name_last FROM player WHER..."
23,399,2374,Tianyi,CL1; CE2,zhengning,"CL1, CE2",SELECT model_list.model FROM cars_data ORDER B...,SELECT T1.Model FROM CAR_NAMES AS T1 JOIN CARS...
24,407,1151,Tianyi,BF4; BL1,zhengning,"BL1, BF4",SELECT SUM( home_game.games ) FROM home_game J...,SELECT sum(T1.attendance) FROM home_game AS T1...
25,423,2051,Tianyi,CE2; BL1,zhengning,"CE2, BL1","SELECT physician.name , affiliated_with.depart...","SELECT T1.name , T3.name FROM physician AS T1 ..."
26,447,1880,Tianyi,"N3, F4",zhengning,"N3, F4","SELECT accounts.name , savings.balance FROM ac...","SELECT T1.name , T3.balance + T2.balance FROM ..."
27,459,2069,Tianyi,CE3; BE5,zhengning,BE5,SELECT AVG( procedures.cost ) FROM procedures ...,SELECT avg(T3.cost) FROM physician AS T1 JOIN ...
28,483,2367,Tianyi,F3,zhengning,A1d,"SELECT stadium.name FROM concert, stadium WHER...",SELECT name FROM stadium EXCEPT SELECT T2.name...
29,487,2312,Tianyi,A1e,zhengning,A1e,"SELECT addresses.town_city , addresses.state_p...",SELECT town_city FROM addresses UNION SELECT s...
30,503,361,Tianyi,D1b,zhengning,D1b,SELECT COUNT( * ) FROM person WHERE person.gen...,SELECT count(*) FROM Person WHERE gender = 'fe...
31,519,2037,Tianyi,L4,zhengning,L4,SELECT SUM( salary.salary ) FROM salary WHERE ...,SELECT salary FROM salary WHERE YEAR = 2010 UN...
32,535,1841,Tianyi,A1b,zhengning,A2a,"SELECT player.player_name , player.birthday FR...","SELECT DISTINCT T1.player_name , T1.birthday F..."
33,559,2078,Tianyi,CE2; F3,zhengning,CE2,SELECT procedures.name FROM trained_in JOIN ph...,SELECT name FROM procedures WHERE cost < 5000 ...
34,575,2151,Tianyi,KA1b; CE2,zhengning,"CE2, KA1b","SELECT project_staff.project_id , COUNT( * ) F...","SELECT T1.project_id , count(*) FROM Project_S..."
35,591,2025,Tianyi,A1b; D1a; E1,zhengning,"A1b, D1a",SELECT song.artist_name FROM song WHERE song.l...,SELECT DISTINCT artist_name FROM song WHERE la...
36,618,2070,Tianyi,BE5,zhengning,BE5,SELECT AVG( procedures.cost ) FROM procedures ...,SELECT avg(T3.cost) FROM physician AS T1 JOIN ...
37,623,1804,Tianyi,D1,zhengning,D1c,"SELECT tv_channel.package_option , tv_channel....","SELECT package_option , series_name FROM TV_Ch..."
38,651,1747,Tianyi,CL1,zhengning,BL1,"SELECT countries.countryname , car_makers.id F...","SELECT T1.CountryName , T1.CountryId FROM COUN..."
39,655,1673,Tianyi,BL2,zhengning,BL2,"SELECT routes.src_ap , airports.name , COUNT( ...","SELECT count(*) , T1.name FROM airports AS T1 ..."
40,671,2310,Tianyi,CL1,zhengning,CE3,SELECT services.service_name FROM services WHE...,SELECT service_name FROM services EXCEPT SELEC...
41,691,2061,Tianyi,CE2; A1b,zhengning,"A1b, CE2","SELECT physician.name , physician.position FRO...","SELECT DISTINCT T1.name , T1.position FROM phy..."
42,703,478,Tianyi,D1a,zhengning,D1a,SELECT dorm.dorm_name FROM dorm WHERE dorm.gen...,SELECT dorm_name FROM dorm WHERE gender = 'F'
43,727,1189,Tianyi,BE5,zhengning,BE5,"SELECT COUNT( * ) , block.blockcode FROM block...","SELECT count(*) , T1.blockcode FROM BLOCK AS T..."

In [132]:
df2_t = df2[['coder_tianyi','sql_id','code_tianyi']]
df2_t = df2_t.rename(columns={"coder_tianyi":"username"})
df2_t = df2_t.rename(columns={"code_tianyi":"error_classification"})
df2_t['record_id'] ='record_id'
df2_n = df2[['coder','sql_id','code_ning']]
df2_n = df2_n.rename(columns={"coder":"username"})
df2_n = df2_n.rename(columns={"code_ning":"error_classification"})
df2_n['record_id'] ='record_id'

In [133]:
feedback = df2_t.append(df2_n, ignore_index=True, sort=False)

In [134]:
feedback[feedback.duplicated() == True]

Empty DataFrame
Columns: [username, sql_id, error_classification, record_id]
Index: []

In [103]:
'''iterratively run the code below to delate rows have annotated repetedly by each person'''
#tianyifeedback[tianyifeedback.sql_id.duplicated() == True] # change to 'zhengningfeedback'

#zhengningfeedback[zhengningfeedback.sql_id == 2190] # change 2190 according to above 

#feedback[feedback.sql_id == 100] # change 2190 according to row 1  

#feedback = feedback.drop(labels=9, axis=0) # change 493 according to row 1

'iterratively run the code below to delate rows have annotated repetedly by each person'

In [135]:
feedback

     username  sql_id error_classification  record_id
0      Tianyi    2149                  A1a  record_id
1      Tianyi     532             BL1; CL1  record_id
2      Tianyi    2094                 KA1b  record_id
3      Tianyi    1125             BL2; BL3  record_id
4      Tianyi    2294              CL1; D1  record_id
..        ...     ...                  ...        ...
83  zhengning    1673                  BL2  record_id
84  zhengning    2310                  CE3  record_id
85  zhengning    2061             A1b, CE2  record_id
86  zhengning     478                  D1a  record_id
87  zhengning    1189                  BE5  record_id

[88 rows x 4 columns]

---
---
---

In [136]:
for i in range(0,len(feedback['error_classification'])):
    feedback['error_classification'][i] = str(feedback['error_classification'][i]).replace(";", ",")
#feedback = feedback['error_classification'].replace(';', ',')

/var/folders/gh/3pd23sd51hn2p7774mv2zt4r0000gn/T/ipykernel_17246/1379376087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feedback['error_classification'][i] = str(feedback['error_classification'][i]).replace(";", ",")

In [137]:
'''error type''' # feedback = non-duplicate task'''
code = feedback['error_classification'].str.split(',', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(2)
'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.sql_id[i], result.username[i], result.record_id[i], result.iloc[i,j]])


#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
       # if i[3].isupper()==True:
        annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)
print('error type')      
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing empty spaces:', len(res))
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error types:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error types:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
ann.head(3)
ann.to_csv('batch123/correct_batch1_anntask_sql_type.csv', index = True)
len(ann.sql_id.unique())

88
88
error type
The # of annotation task, before removing empty spaces: 440
The # of annotation task, after removing empty spaces: 127
The # of unique single error types: 28
The # of non empty error types: 313

44

In [138]:
'''error category'''
rs = feedback   #rs = error type 
code = feedback['error_classification'].str.split('', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(2)

'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.sql_id[i], result.username[i], result.record_id[i], result.iloc[i,j]])

#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
        if i[3].isupper()==True:
            annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)

print('error category') 
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing empty spaces:',len(res))
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error categorys:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error categorys:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
ann.head(3)
ann.to_csv('batch123/correct_batch1_anntask_sql_errorcategory.csv', index = True)
len(ann.sql_id.unique())

88
88
error category
The # of annotation task, before removing empty spaces: 1936
The # of annotation task, after removing empty spaces: 182
The # of unique single error categorys: 11
The # of non empty error categorys: 1321

44

---
--- 
batch6

In [17]:
len(feedback.sql_id.unique())

398

In [18]:
'''error type''' # feedback = non-duplicate task'''
code = feedback['error_classification'].str.split(',', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(2)

'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.sql_id[i], result.username[i], result.record_id[i], result.iloc[i,j]])

#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
       # if i[3].isupper()==True:
        annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)
print('error type')      
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing ', len(res), ' empty spaces:')
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error types:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error types:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
ann.head(3)
ann.to_csv('batch6_annotationtask_sql_type.csv', index = True)
len(ann.sql_id.unique())

796
796
error type
The # of annotation task, before removing empty spaces: 5572
The # of annotation task, after removing  1490  empty spaces:
The # of unique single error types: 52
The # of non empty error types: 4054

397

In [43]:
proc1 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch1/anntask.csv')
proc2 = pd.read_csv('/Users/tianyisun/Desktop/NLQbatches/batch1/mapping.csv')
annotation = pd.merge(proc1, proc2, on ='id', how = 'left')
feedback = annotation
feedback = feedback.rename(columns={"category":"error_classification"})
#feedback = feedback.rename(columns={"coder":"username"})
feedback

,coder,id,error_classification,record_id,username,sql_id
0,toby,0,A1a,07cd3641-37d2-4d77-adc6-3145d6a1ed7b,zhengzhang,2149
1,toby,1,A1a,43fe6397-5991-4649-93f7-b2799ca6bdc5,tianyi,2149
2,toby,2,A1a,c9da76da-8852-4f87-b6f7-46fbc71c97f5,zhengning,2149
3,toby,3,A1a,bb34cb0a-bb6f-43ff-8602-e9a4e7f9aafe,toby,2149
4,toby,4,BL1,083648b7-309e-494b-a65c-f23938a5529e,zhengzhang,532
...,...,...,...,...,...,...
984,zhengz,5,BL1,44ed974d-1e31-4858-90d1-02ef847715a9,tianyi,532
985,zhengz,7,BL1,6af39e05-6ffe-44be-bd00-6cea7df72725,toby,532
986,zhengz,100,BF4,8fd24b43-e89c-45c4-b06c-82b4a0e511b4,toby,1151
987,zhengz,102,CL1,31356e1d-edf2-4984-a80c-e35111ad300b,tianyi,2051
988,zhengz,143,BF4,e7107bae-a61a-4ae9-bd8c-367741c073e5,tianyi,2025

In [44]:
'''error category'''
rs = feedback   #rs = error type 
code = feedback['error_classification'].str.split('', expand=True)
code.columns = ['error_classification{}'.format(x+1) for x in code.columns]
result = feedback.join(code)
print(len(result))
print(len(code))
result.head(2)

'''
[username,record_id,error_classification]
'''
annot = []
for i in range(0,len(result)): 
    for j in range(4,len(result.columns)):
        annot.append([result.sql_id[i], result.username[i], result.record_id[i], result.iloc[i,j]])
        #annot.append([result.sql_id[i], result.username[i], result.iloc[i,j]])

#        res = [char for char in test_str if char.isupper()]   
'''remove empty spaces'''
annotask = []
count=0
for i in annot:
    if str(i[3]) == 'None':
        count+=1
    if type(i[3]) is str:
        i[3] = (i[3]).replace(' ', '')
        if i[3].isupper()==True:
            annotask.append(i)

res = []
for i in annotask:
    if i not in res:
        res.append(i)

print('error category') 
print('The # of annotation task, before removing empty spaces:', len(annot))
print('The # of annotation task, after removing empty spaces:',len(res))
'''df format of annotation task'''
ann =DataFrame(res)

print('The # of unique single error categorys:', len(ann.iloc[:,3].unique()))   
print('The # of non empty error categorys:', count)
ann.columns =['sql_id', 'username', 'record_id', 'code']
#ann.columns =['sql_id', 'username', 'code']
ann.head(3)
#ann.to_csv('batch6_annotationtask_sql_errorcategory.csv', index = True)
len(ann.sql_id.unique())

989
989
error category
The # of annotation task, before removing empty spaces: 7912
The # of annotation task, after removing empty spaces: 509
The # of unique single error categorys: 13
The # of non empty error categorys: 1210

46